body{
  position: relative;
  background: url('../images/bg-pattern-top.svg');
  background-repeat: repeat;
  background-position: bottom left;
  background-color: hsl(185, 75%, 39%);
  
}

#profile-img{
  border-radius: 50%;
  position: relative;
  left: 34%;
  top: -43px;
  border-style: solid;
  border-color: white;

}

#profile-card{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#profiler-info{
  display: flex;
  position: relative;
  left: 20%;
  top: -20px;
}

#profiler-info h1{
   margin-right: 10px;
}

#profiler-info h5{
  position: relative;
  font-weight: 1;
  top: -15px;
  font-size: 25px;
}

#profiler-location{
  position: relative;
  left: 45%;
  top: -90px;
}

/*#profiler-locations h5{
  left: 20%;
}*/

#container{
  position: relative;
  border-radius: 10px;
  background-color: white;
  width: 350px;
  height: 400px;
  left: 35%;
  top: 200px;
}

#stats{
  position: relative;
  left: 0px;
  top: -100px;
  border-top-style: solid;

}

#stats-profile{
  position: relative;
  display: flex;
  left: 100px;
}



.profile-stats{
  margin-right: 10px;
}

.profile-stats h3{
  margin-bottom: 0px;
}

.profile-stats h6{
  margin-top: 0px;
}